<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- サイトの説明欄 -->
    <meta
      name="Export Cargo Manager"
      content="Trade Goods Management App: Track, organize, and optimize your inventory, shipments, and sales with real-time updates and intuitive features."
    />
    <!--CSSリンク-->
    <!--Webフォントのリンク３つ-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!--デフォルトの表示用CSS(ブラウザの表示の統一化)-->
    <link rel="stylesheet" href="./CSS/sanitize.css" />
    <!--自作のCSS-->
    <link rel="stylesheet" href="./CSS/style_new_account.css" />

    <!--favicon-->
    <link rel="icon" type="image/x-icon" href="./image/logistics.png" />
    <title>Export Cargo Manager</title>
  </head>
  <body>
    <th:block th:insert="./common/header_first"></th:block>
    <div class="mainDiv">
      <h1>LOGIN</h1>
      <fieldset>
        <div class="inputEach">
          <label for="js-inputId"><span class="redText">※</span>LOGIN_ID</label>
          <input type="text" class="inputText" id="js-inputId" />
          <span class="redText" id="js-errarId">incorrect</span>
        </div>

        <div class="inputEach">
          <label for="js-inputPass"
            ><span class="redText">※</span>PASSWORD</label
          >
          <input type="password" class="inputText" id="js-inputPass" />
          <span class="redText" id="js-errarPass">incorrect</span>
        </div>
      </fieldset>
      <div class="buttons">
        <a class="button" id="js-loginButton">LOGIN</a>
        <a href="/index" class="button">BACK</a>
      </div>
    </div>

    <script src="./JS/app_login.js"></script>
  </body>
</html>
